* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.currencyRow {
    margin-top: 20px;
}

.swapButton {
    margin-top: 20px;
}

.alert {
    color: red;
    display: none;
}

.alert.visible {
    display: block;
}